<div id="page-content" class="page-content header-clear bg bg-cover">
  <div id="page-content-scroll" class="bg-dark">

    <div class="page-interests">
      <a href="#" class="interest-box transparent-background bg-blue-dark">
        <strong>Technology</strong>
        <em>Theme Forest, Code Canyon, Graphic River, Audio Jungle, Photo Dune, 3D Ocean</em>
        <i class="interest-first-icon ion-ios-gear-outline"></i>
        <i class="interest-second-icon hide-interest-icon ion-checkmark"></i>
      </a>
      <a href="#" class="interest-box transparent-background bg-red-dark">
        <strong>Sports</strong>
        <em>Running, Cycling, Swimming, Ping Pong, Tennis, Football, Basketball, Baseball</em>
        <i class="interest-first-icon ion-ios-football"></i>
        <i class="interest-second-icon hide-interest-icon ion-checkmark"></i>
      </a>
      <a href="#" class="interest-box transparent-background bg-orange-dark">
        <strong>Cooking</strong>
        <em>Dinner, Lunch, Breakfast, Deserts, Italian, Mexican, American, European, Asian</em>
        <i class="interest-first-icon ion-fork"></i>
        <i class="interest-second-icon hide-interest-icon ion-checkmark"></i>
      </a>
      <a href="#" class="interest-box transparent-background bg-magenta-dark">
        <strong>Driving</strong>
        <em>BMW, Audi, Formula 1, Nascar, Drag Racing, Circuit Racing, Off Road, Indie 5000</em>
        <i class="interest-first-icon ion-android-car"></i>
        <i class="interest-second-icon hide-interest-icon ion-checkmark"></i>
      </a>
      <a href="#" class="interest-box transparent-background bg-teal-dark">
        <strong>Social</strong>
        <em>Twitter, Facebook, Dribbble, LinkedIn, Google Plus, Pinterest, Behance, iCloud, Hangouts</em>
        <i class="interest-first-icon ion-android-share-alt"></i>
        <i class="interest-second-icon hide-interest-icon ion-checkmark"></i>
      </a>
      <a href="#" class="interest-box transparent-background bg-green-dark">
        <strong>Movies</strong>
        <em>Drama, Roamnce, Comedy, Action, Horror, Sci-Fi, Psychological, Documentary</em>
        <i class="interest-first-icon ion-ios-film-outline"></i>
        <i class="interest-second-icon hide-interest-icon ion-checkmark"></i>
      </a>
    </div>

  </div>
</div>
