<div id="page-content" class="header-clear">
  <div id="page-content-scroll" style="right: 0px;"><!--Enables this element to be scrolled -->

    <div class="heading-strip bg-6">
      <h3>Create Your Character</h3>
      <p>Who are you and what are your abilities</p>
      <div class="overlay dark-overlay"></div>
    </div>

    <%= render 'form' %>
  </div>
</div>

